.sticky {
  background: #fff;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  // height: 120px;
  width: 100%;
}

.d-i-f {
  display: inline-flex;
}

.m-10px {
  margin: 10px;
}

.ny-text {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1rem;
}

.date {
  font-size: 13px;
}


/* Color Theme Swatches in Hex */
// .Fashion-1-hex { color: #242426; }
// .Fashion-2-hex { color: #D0D3D9; }
// .Fashion-3-hex { color: #8C8C8C; }
// .Fashion-4-hex { color: #D9C077; }
// .Fashion-5-hex { color: #A68549; }
