.d-i-f {
  display: inline-flex;
}

.m-10px {
  margin: 10px;
}

.ny-text {
  font-size: 2em;
  text-align: center;
  margin: 1rem;
}

.date {
  font-size: 11px;
}


/* Color Theme Swatches in Hex */
// .Fashion-1-hex { color: #242426; }
// .Fashion-2-hex { color: #D0D3D9; }
// .Fashion-3-hex { color: #8C8C8C; }
// .Fashion-4-hex { color: #D9C077; }
// .Fashion-5-hex { color: #A68549; }
