<p-header>
    <div class="ny-text" [routerLink]="['/']">
        <div>The New York Times</div>
    </div>
    <div class="img-header">
        <img class="inventory-body" src="Card" [src]="link">
    </div>
    <div class="title">
        <div *ngIf="articleDetail?.headline.kicker" class="title-name">{{articleDetail?.headline.kicker}} | </div>
        <div class="title-abstract">{{articleDetail?.headline.main}}</div>
        <div class="snippet">{{articleDetail?.snippet}}</div>
    </div>

    <hr />
</p-header>