.sticky {
  background: #fff;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 0 !important;
}

.border {
  border-top: 1px solid;
}

.d-i-f {
  display: inline-flex;
}

.search-input {
  text-align: center;
  margin-left: 10px;
}

.m-10px {
  margin: 10px 10px 10px 0;
}

.search-span {
  margin-top: 10px;
}
