.sticky {
  background: #fff;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  border-top: 0 !important;
}

.border {
  border-top: 1px solid;
}

.absolute {
  position: absolute;
}

.search-input {
  margin-left: 10px;
  display: inline-flex;
}

.m-10px {
  margin: 10px 10px 10px 0;
}

.search-span {
  margin-top: 10px;
}

.ny-text {
  font-size: 1.5em;
  text-align: center;
}

.filter {
  cursor: pointer;
}

.search-filter {
  margin-left: 10px;
}

.menucus {
  background-color: #2f353a;
  font-size: small;
}

.search {
  height: 33px;
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 440px) {
  .ny-text {
    display: none;
  }
}

@media screen and (max-width: 366px) {
}
